.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#38bdf8, #1d4ed8);
  align-items: center;
  margin-top: 10%;
  border-bottom-right-radius: 90px;
  border-top-left-radius: 90px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text {
  padding: 20px;
  color: white;
  font-size: 50px;
}
label {
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
.login-btn {
  border: none;
  width: 80%;
  padding: 10px;
  font-weight: 900;
  border-radius: 20px;
}
.login-btn:hover {
  color: white;
  background: #86efac;
  transition: background 1s ease-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
